.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    height: 100vh;
    background-color: lemonchiffon;
    background-image: url('https://cdn.britannica.com/50/80550-050-5D392AC7/Scoops-kinds-ice-cream.jpg');
    background-size: cover;
    background-position: right;
}

li{
    list-style: none;
}
a {
    text-decoration: none;
     color: darkgrey;
     font-size: 1rem;
}

a:hover{
    color: purple;
}

/*HEADER*/
header{
    position:relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .banner a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: cadetblue;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease ;
}

.action_btn:hover{
    scale: 1.05;
    color: whitesmoke;
}

.action_btn:active{
    scale: 0.95;
}

/*Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
 /*Home*/
 section#home{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blackk;
 }

 #home h1{
    font-size: 3rem;
    margin-bottom: 1rem;
 }
 
* {
    box-sizing: border-box;
  }
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }  
  
  
  
/*Responsive design */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
.navbar .toggle_btn{
    display: block;
}

.dropdown_menu{
    display: block;
}

}
@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}
.footer{
    position: relative;
    padding: 0 2rem;
}

.footer h2{
    position: absolute;
    left: 50%;
}
